a {
    text-decoration: none;
    color: var(--textColor);
}

.interesting .container {
    padding: 2em 0;
    max-width: 1800px;
    margin: 7.5em auto 0 auto;
    display: flex;
    flex-direction: column;
}

.interesting-img img {
    max-height: 28em;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0.3em;
}

.line-1 {
    display: flex;
    gap: 1em;
    align-items: stretch;
    /* align-items: center; */
    justify-content: space-between;
    margin: 1.5em 1em 0 1em;
}

.line-1 .card-1,
.line-1 .card-3 {
    width: calc(30% - 0.5em);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    transition: box-shadow 0.3s ease;
}

.line-1 .card-2 {
    width: calc(40% - 0.5em);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    transition: box-shadow 0.3s ease;
    height: auto;
}

.line-1 .card-1-img img,
.line-1 .card-3-img img {
    width: 100%;
    max-height: 20em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.line-1 .card-2-img img {
    height: auto;
    max-height: 19.6em;
    border-radius: 0.5em;
    object-fit: cover;
}

.line-2 {
    display: flex;
    gap: 1em;
    align-items: stretch;
    justify-content: space-between;
    margin: 1.5em 1em 0 1em;
}

.line-2 .card-1,
.line-2 .card-4 {
    width: calc(30% - 0.5em);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    transition: box-shadow 0.3s ease;
}

.line-2 .card-2,
.line-2 .card-3 {
    width: calc(20% - 0.5em);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    transition: box-shadow 0.3s ease;
}

.line-2 .card-2-img img,
.line-2 .card-3-img img,
.line-2 .card-1-img img,
.line-2 .card-4-img img {
    width: 100%;
    height: auto;
    max-height: 16em;
    object-fit: cover;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.line-2 .card-2-img img,
.line-2 .card-3-img img {
    height: 16em;
}

@media screen and (max-width: 767px) {

    .interesting .container {
        margin-top: 10.2em;
    }

    .line-1,
    .line-2 {
        flex-direction: column;
    }

    .line-1 .card-1,
    .line-1 .card-3,
    .line-1 .card-2,
    .line-2 .card-1,
    .line-2 .card-3,
    .line-2 .card-2,
    .line-2 .card-4 {
        width: 100%;
    }

}

@media screen and (max-width: 376px) {}

@media screen and (max-width: 320px) {}

@media screen and (min-width: 768px) and (max-width: 1024px) {}

@media screen and (min-width: 1024px) {}