.recipies-info-container {
    margin: 10em auto 0 auto;
    padding: 2em 0;
    width: 1350px;
}

.recipies-info-container h4 {
    text-align: center;
    margin-bottom: 0.5em;
    color: rgba(0, 31, 61, 1);
}

.recipies-info-container h2 {
    text-align: center;
    margin-bottom: 1em;
    color: rgba(0, 31, 61, 1);
}

.recipies-info-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    margin-bottom: 1em;
}

.recipies-info-img img {
    max-height: 25em;
    width: 100%;
    object-fit: cover;
    border-radius: 0.5em;
}

.products {
    width: 50%;
}

.products-col {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
}

.product {
    display: flex;
    align-items: center;
    flex: 1 1 calc(50% - 1.5em);
}

.product-name {
    margin-left: 0.5em;
}

.recipies-content p {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    color: rgba(0, 31, 61, 1);
}

.recipies-content hr {
    border: none;
    border-top: 1px solid #dddddd;
    margin: 1em 0;
}

.recipies-steps {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0.5em;
    height: 0.5em;
    padding: 1em;
    background-color: var(--orange);
    border: 2px solid var(--orange);
    border-radius: 50%;
    margin-right: 0.9em;
    color: rgba(0, 31, 61, 1);
    font-weight: bold;
}

@media screen and (max-width: 767px) {

    .recipies-info-container {
        max-width: 100%;
        width: 100%;
    }

    .recipies-info-wrapper {
        flex-direction: column;
    }

    .recipies-info-img {
        width: 100%;
    }

    .products {
        width: 100%;
    }

    .product {
        flex: 1 1 100%;
    }

}

@media screen and (max-width: 320px) {

    .recipies-info-container {
        padding: 1em 0.5em;
        margin-top: 11em;
    }

    .recipies-info-img img {
        max-height: 20em;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    recipies-info-container {
        width: 90%;
    }

    .products-col {
        gap: 1em;
    }

    .product {
        flex: 1 1 calc(50% - 1em);
    }
}

@media screen and (min-width: 1024px) {}